@model CompanyAddRequest
@{
    ViewBag.Title = "Add Company";
}

<a asp-controller="company" asp-action="index" class="link-hover"> Back to job logger board</a>
<h2>Create record</h2>

<div class= "w-50">
    <form asp-controller="company" asp-action="add" method="post">

        @*Company Name*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Name" class="form-label pt">Company Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="Name" type="text" class="form-input"/>
                <span asp-validation-for="Name" class="text-red"></span>
            </div>
        </div>

      
        @*Position Title*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="positionName" class="form-label pt">Position title</label>
            </div>
            <div class="flex-1">
                <input asp-for="positionName" type="text" class="form-input" />
                <span asp-validation-for="positionName" class="text-red"></span>
            </div>
        </div>

        @*Cover Letter (Y/N)*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="isCoverLetter" class="form-label pt">Cover Letter ? (Y/N)</label>
            </div>
            <div class="flex-1">
                <input asp-for="isCoverLetter" type="text" class="form-input" />
                <span asp-validation-for="isCoverLetter" class="text-red"></span>
            </div>
        </div>
        
        @*Website*@
        <div class="form-field flex">
            <div class="flex-1">
                <label asp-for="Website" class="form-label pt">Website</label>
                <input asp-for="Website" type="text" class="form-input" />
                <span asp-validation-for="Website" class="text-red"></span>
            </div>
        </div>

        @*Created at*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="CreatedAt" class="form-label pt">Created at</label>
            </div>
            <div class="flex-1">
                <input asp-for="CreatedAt" type="date" class="form-input" />
                <span asp-validation-for="CreatedAt" class="text-red"></span>
            </div>
        </div>

        @*Submit*@
        <div class="form-field flex">
            <div class="flex-1">
                <button class="button button-green-back">Create</button>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red m2">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>

</div>
