@{
    ViewBag.Title = "Add Company";
}

<a href="~/company/index" class="link-hover"> Back to job logger board</a>
<h2>Create record</h2>

<div class= "w-50">
    <form action="~/company/add" method="post">

        @*Company Name*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Name" class="form-label pt">Company Name</label>
            </div>
            <div class="flex-1">
                <input type="text" id="Name" name="Name" class="form-input"/>
            </div>
        </div>

        @*Postion title*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="positionName" class="form-label pt">Positon Title</label>
            </div>
            <div class="flex-1">
                <input type="text" id="positionName" name="positionName" class="form-input"/>
            </div>
        </div>

        @*Cover Letter (Y/N)*@
        <div class="form-field flex">
            <div class="flex-1">
                <label for="isCoverLetter" class="form-label pt">Cover Letter ? (Y/N)</label>
                <input type="checkbox" id="isCoverLetter" name="isCoverLetter" value="true"/>
            </div>
        </div>

        @*Website*@
        <div class="form-field flex">
            <div class="flex-1">
                <label for="Website" class="form-label pt">Website</label>
                <input type="text" id="Website" name="Website" class="form-input"/>
            </div>
        </div>

        @*Created at*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="CreatedAt" class="form-label pt">Created at</label>
            </div>
            <div class="flex-1">
                <input type="date" id="CreatedAt" name="CreatedAt" class="form-input"/>
            </div>
        </div>
        @*Submit*@
        <div class="form-field flex">
            <div class="flex-1">
                <button class="button button-green-back">Create</button>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red m2">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>

</div>
